@import '../../assets/Color.scss';

.description-city {
  display: flex;
  flex-direction: column;
  position: relative;
  background:linear-gradient(rgb(15, 36, 49),$base_color,rgb(57, 117, 228)); 
  height: 100%;
  z-index: 3;
  .all-descriptioncity {
    // margin-top: 3em;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    justify-content: space-around;

    .card-etablissement {
      display: flex;
      gap: .5em;
      padding: .5em 1em;

      .image {
        position: relative;
        width: 400px;
        height: 250px;
        border-radius: .5em;
        overflow: hidden;

        .img {
          position: absolute;
          display: inline-block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: 0.5s;
        }

        .descri {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          backdrop-filter: blur(2px);
          opacity: 0;
          transition: 0.75s;
          z-index: 1;

          p {
            color: #fff;
            font-size: 16px;
            transform: translateY(30px);
          }

          &:hover {
            opacity: 1;

            .img {
              width: 110%;
              height: 110%;
              top: -5%;
              left: -5%;
            }

            p {
              transform: translateY(0);
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  .btn{
    background-color: $base_color;
    color: $color-white;
    position: absolute;
    bottom: 1em;
    right: 3em;
    text-align: center;
    box-shadow: 0 .2em .3em $black_color;
    z-index: 5;
  }
}

.card2 h2 {
  text-align: center;
  margin-top: 3%;
  font-size: 22px;
  font-weight: bold;
  color: $color-white;
}

#p1:checked~.rightside .pro2,
#p1:checked~.rightside .pro3,
#p1:checked~.rightside .pro4,
#p1:checked~.rightside .pro5,
#p1:checked~.rightside .pro6,

#p2:checked~.rightside .pro3,
#p2:checked~.rightside .pro4,
#p2:checked~.rightside .pro5,
#p2:checked~.rightside .pro6,
#p2:checked~.rightside .pro1,

#p3:checked~.rightside .pro4,
#p3:checked~.rightside .pro5,
#p3:checked~.rightside .pro6,
#p3:checked~.rightside .pro1,
#p3:checked~.rightside .pro2,

#p4:checked~.rightside .pro5,
#p4:checked~.rightside .pro6,
#p4:checked~.rightside .pro1,
#p4:checked~.rightside .pro2,
#p4:checked~.rightside .pro3,

#p5:checked~.rightside .pro6,
#p5:checked~.rightside .pro1,
#p5:checked~.rightside .pro2,
#p5:checked~.rightside .pro3,
#p5:checked~.rightside .pro4,

#p6:checked~.rightside .pro1,
#p6:checked~.rightside .pro2,
#p6:checked~.rightside .pro3,
#p6:checked~.rightside .pro4,
#p6:checked~.rightside .pro5 {
  display: none;
}

#p1:checked~.rightside .pro1,
#p2:checked~.rightside .pro2,
#p3:checked~.rightside .pro3,
#p4:checked~.rightside .pro4,
#p5:checked~.rightside .pro5,
#p6:checked~.rightside .pro6 {
  display: flex;
}

#p1:checked~.leftside #dot1,
#p2:checked~.leftside #dot2,
#p3:checked~.leftside #dot3,
#p4:checked~.leftside #dot4,
#p5:checked~.leftside #dot5,
#p6:checked~.leftside #dot6 {
  background-color: #000;
}