<template>
  <div class="description-city">
    <!-- <Navbar ></Navbar> -->
    <div class="all-descriptioncity">
      <div class="card-etablissement" v-for="(etablissement, index) in etablissements" :key="index">
        <div class="pro3" id="A4">
        <div class="card2">
          <div class="image">
            <img class="img" :src="etablissement.photo">
            <div class="descri">
              <p>{{ etablissement.description }}</p>
              <p>{{ etablissement.type }}</p>
              <p>{{ etablissement.adresse }}</p>
            </div>
          </div>
          <h2>{{ etablissement.nom }}</h2>
        </div>
      </div>
      </div>
    </div>
    <button class="btn" data-bs-toggle="modal" data-bs-target="#heydd">
      Nouvelle lieux
      <!-- asina v-if rah admin mipotra ity btn -->
    </button> 
    <ModalAdd :showModal="showModal"></ModalAdd>
  </div>
</template>

<script setup>
import { etablissement as etablissements } from '../../data'
import ModalAdd from './ModalAdd/ModalAdd.vue';
import Navbar from '../Navbar/Navbar.vue'
import {ref} from 'vue'
const showModal = ref(false)
const onShowModal = ()=>{
  showModal.value = true
}
</script>

<style lang="scss" src="./DescriptionCity.scss" scoped></style>