#txt{
    height: 30px;
    margin-left: 10%;
}
#i{
  width: 100px;  
  font-size: 30px;
  color: rgba(90, 242, 166, 0.2);
}
.ajout{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
    
}
.envoie{
    width: 100px;
    margin-top: -10px;
}
#i:hover{
    color: rgb(6, 131, 68);
}