<template>
  <div class="ajout">
    <textarea name="contenue" id="txt" cols="30" rows="10" v-model="commentaire.contenue"></textarea>
    <div @click="commenter(idPost)" class="envoie">
      <div id="i">&#10148</div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      commentaires: '',
      key: '',
      showcomment: false,
      commentaire: {
        idCommentaire: '',
        contenue: '',
        date: '',
        idUser: '',
        idPost: ''

      },
      idPost: 'oooooo',

      show: ''

    }
  },
  props: ['idPost'],
  methods: {
    commenter(idPost) {
      const formData = new FormData();
      this.commentaire.idCommentaire = uuid();
      this.commentaire.idPost = idPost;
      formData.append('idcommentaire', this.commentaire.idCommentaire);
      formData.append('contenue', this.commentaire.contenue);
      formData.append('date', this.commentaire.date);
      formData.append('idUser', this.commentaire.idUser);
      formData.append('idPoste', this.commentaire.idPost);
      axios.post(`${api}/creation/commentaire`, this.commentaire).then(Response => {
        console.log(Response.data)
        commentaire.contenue = ''
      }).catch(error => console.log(error))
      this.showAdd = false
    }
  }
}
</script>
<style src="./ajoutComment.scss" scoped></style>