@import '../../../assets/Color.scss';

.event-container {
  width: 100%;
  position: relative;
}

.event-card {
  width: 39rem;
  height: 24rem;
  display: flex;
  background: $color_white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: -webkit-sticky;

  &:hover {
    // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2);
    // transform: translateY(-2px);
    .detail{
      scale: 1.1;
    }
  }

  .detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    // border-radius: 1rem;
    background: linear-gradient(45deg, $fol_color, $green_color);
    color: white;
    transition: scale 0.3s ease;

    .dataParent {
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
      height: 20%;

      .date {
        background: rgba(255, 255, 255, 0.8);
        color: $fol_color;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }

    .nameParent {
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 1rem;

      .user {
        font-size: 1.5rem;
        font-weight: bold;
        color: $green_color;
        margin-bottom: 0.5rem;
      }

      .content {
        font-size: 1.2rem;
        color: #fff;
      }
    }

    .key {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
      font-size: .9rem;
      color: $color-white;
    }
  }

  .photo {
    width: 100%;
    overflow: hidden;
    border-radius: 0 1rem 1rem 0;
    box-shadow: -8px 0 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    // &:hover {
    //   box-shadow: -12px 0 24px rgba(0, 0, 0, 0.2);
    // }

    .im {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;

      // &:hover {
      //   transform: scale(1.1);
      // }
    }
  }
}
