<template>
  <div class="event-card">
    <div class="photo">
       <img :src="event.photo" class="im" alt="photos">
    </div>
    <div class="detail">
      <div class="dataParent">
          <div class="date">{{ event.date }}</div>
      </div>
      <div class="nameParent" >
          <div class="user">{{ getUser(event.idUser).name }}</div>
          <div class="content">{{ event.contenue }}</div>
      </div>
      <div class="key">#{{ getKeyEvent(event.idkey).contenue }}</div>
    </div>
  </div>
</template>
<script setup>
import { getUser , getKeyEvent } from '../../../FunctionGet';
const props = defineProps(["event"])

</script>
<style lang="scss" src="./EventCard.scss" scoped></style>