@import '../../../../assets/Color.scss';
.card-comment{
  padding: 1em 2em;
  background-color: $color-white;
  border-radius: .5em;
  .user {
    display: flex;
    align-items: center;
    gap: .5em;

    .imgUser {
      width: 3rem;
      border-radius: 50%;
    }

    .name {
      color: $color-gray-light;
    }

    .date {
      font-size: .75rem;
    }
  }
  .comment-containe{
    margin-left: 3em;
  }
}