<template>
  <div class="card-comment" >
    <div class="user">
        <img :src="getUser(commentaires.idUser).photo" alt="user" class="imgUser">
        <div class="date-name">
          <div class="name ">{{ getUser(commentaires.idUser).nom }} {{ getUser(commentaires.idUser).prenom }}</div>
          <div class="date">{{ post.date }}</div>
        </div>
      </div>
    <div class="comment-containe">
      {{ commentaires.contenue }}
    </div>
  </div>
</template>
<script setup>
import { getUser } from '../../../../FunctionGet';

const props = defineProps(['commentaires', 'post'])
</script>
<style src='./cardComment.scss' scoped></style>