<template>
  <div class="conseil-card" @click="getConseil()">
    <div class="containe-conseil">
      <div class="user">
        <img :src="getUser(conseils.idUser).photo" alt="user" class="imgUser">
        <div class="date-name">
          <div class="name ">{{ getUser(conseils.idUser).nom }} {{ getUser(conseils.idUser).prenom }}</div>
          <div class="date">{{ conseils.date }}</div>
        </div>
      </div>
      <div class="containte">
        {{  conseils.contenue }}
      </div>
    </div>
    <div class="icon"></div>
  </div>
</template>
<script setup>
  import { getUser } from '../../../FunctionGet';
  const props = defineProps(['conseils'])
  
  const emits = defineEmits(["CurrentConseil"])

  const getConseil = ()=>{
      emits("CurrentConseil",props.conseils)
  }
  
</script>
<style lang="scss" src="./ConseilCard.scss" scoped></style>