@import '../../../assets/Color.scss';
.conseil-card {
  border-radius: .5rem;
  display: flex;
  padding: 1em;
  width: 60%;
  transition: scale linear .2s;
  scale: .95;
  .containe-conseil{
    display: flex;
    flex-direction: column;
    .user {
      display: flex;
      align-items: center;
      gap: 1em;
      font-size: .7em;
  
      .imgUser {
        width: 3rem;
        border-radius: 50%;
      }
  
      .name {
        color: $color-gray-light;
      }
  
      .date {
        font-size: .75rem;
      }
    }
    .containte{
      font-size: 1em;
      font-weight: bold;
      height: 100%;
    }
  }

  .icon{
    height: 100%;
    width: 30px;
    flex: 1;
    background-image: url('../../../assets/Icon/conseil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover{
    scale: 1;
  }
}