<template>
  <div class="conseil-parent">
    <!-- <navb class="navb"></navb> -->
    <!-- <div class="affichage">
      <div class="btnSelect">
        <button class="btn btn-success add" data-bs-toggle="modal" data-bs-target="#modalAdd"><i
            class="fa-solid fa-plus" @click="f_showAdd()" id="ajout"></i></button>
        <label for="selectedKeyId" id="select">selectionnez ici</label>
        <select class="form-control" id="btn" v-model="key_contenue">
          <option v-for="(key, i) in keys" :key="i" :value="key.idkey" @click="showetude(key.idkey)">{{ key.contenue }}
          </option>
        </select>
      </div>
    </div> -->
    <div class="all-conseil">
      <ConseilCard v-for="(conseil1, index) in conseils" :key="index" :conseils="conseil1" @CurrentConseil="CurrentConseil" class="chat"></ConseilCard>
    </div>
    <div class="cont" v-if="cons != null & showSide">
       <div class="clo">
          <button type="button" class="btn-close" @click="hideSide"  aria-label="Close"></button>
        </div>
        
        <!-- <div class="profile">
           <div class="personal">{{getUser(cons.idUser).nom}}</div>
           <div class="date">{{cons.date}}</div>
        </div> -->
        <div class="message">
          <textarea cols="44.5" rows="8" id="text" disabled :value="cons.contenue+'  '+addContent"></textarea>
        </div>
    </div>
    <div id="modalAdd" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Nouveau conseil</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form @submit.prevent="conseiller()" method="POST">
            <div class="modal-body text-start range">
              <div class="field">
                <textarea class="form-control" name="" id="conse" cols="30" rows="1" placeholder="votre conseil"
                  v-model="conseil.contenu"></textarea>
              </div>
              <div class="field">
                <select id="myCombobox" v-model="key_contenue" class="form-control">
                  <option :value="key.contenue" v-for="(key, i) in keys" :key="i">{{ key.contenue }}</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <button type="submit" class="btn btn-primary" name="ajouter">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ConseilCard from './ConseilCard/ConseilCard.vue'
import axios from 'axios';
import { v4 as uuid } from 'uuid';
import { api } from '../../config';
import { conseils as c } from '../../data'
import { keys as k } from '../../data'
import navb from './../Navbar/Navbar.vue'
import {getUser} from './../../FunctionGet'
export default {
  data() {
    return {
      conseils: c,
      cons: c,
      key: '',
      showSide: false,
      showAdd: false,
      cons : null,
      conseil: {
        idConseil: '',
        contenu: '',
        date: '',
        idUser: '1',
        idKey: '',
        status: 0
      },
      key_contenue: '',

      keys: k,
      show: '',
      addContent:'Essayer de suivre se conseil même si c\'est difficile car beaucoup des nouvelles étudiants qui la suivie est a eu des réussite'

    }
  },

  components: {
    ConseilCard: ConseilCard,
    navb: navb
  },
  methods: {
    f_showAdd() {
      this.showAdd = true

    },
    showetude(show) {
      this.conseils = this.conseils.filter(p => p.idKey == show)
      console.log(this.conseils)

    },
    showetudeall() {
      this.conseils = this.cons
      console.log(this.conseils)

    },

    f_non_showAdd() {
      this.showAdd = false
    },
    conseiller() {
      this.conseil.idKey = this.keys.find(c => c.contenue == this.key_contenue).idkey;
      console.log(this.conseil.idKey);
      const formData = new FormData();
      this.conseil.idConseil = uuid();
      formData.append('idConseil', this.conseil.idConseil);
      formData.append('contenu', this.conseil.contenu);
      formData.append('date', this.conseil.date);
      formData.append('idUser', this.conseil.idUser);
      formData.append('idKey', this.conseil.idKey);
      formData.append('status', this.conseil.status);


      axios.post(`${api}/creation/conseil`, this.conseil).then(Response => {
        console.log(Response.data)
        conseil.contenu = ''

      }).catch(error => console.log(error))
      this.showAdd = false
    },
    CurrentConseil(e){
      this.cons = e;
      this.showSide = true;
    },
    hideSide(){
      this.cons = "";
      this.showSide = false;
    }

  }
}
</script>

<style lang="scss" src="./Conseil.scss" scoped></style>