@import '../../assets/Color.scss';

.conseil {
  all: inherit;
  display: flex;
  background: $color_light;
  height: 100%;
  overflow: auto;
  flex-direction: row;
  overflow-x: hidden;
}

.navb{
  z-index:  10;
  position: relative;
}

.affichage {
  display: flex;
  flex-direction: row;
  background: $color_light;
  z-index: 1;
}

.all-conseil {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding-left: 1.5em;
  background: linear-gradient(rgb(15, 36, 49),rgb(20, 73, 41),rgb(57, 117, 228));
}

.btnSelect {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  height: 3rem;
  padding-right: .5rem;
  gap: 2rem;
}

.add {
  height: 2.2rem;
}

#btn {
  width: 15%;
  height: 80%;
  float: right;
}

select {
  background: $color-gray-light;
  border: 0;
  cursor: pointer;
}

select:focus {
  background: $color-gray-light;
  border: 0;
  box-shadow: inherit;
}

#select {
  position: absolute;
  top: 4.3rem;
  right: 5rem;
  cursor: pointer;
}

#conse,
#myCombobox {
  height: 100%;
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3em;
}

.field {
  height: 2.7rem;
  width: 85%;
  border-radius: .3em;
  background: whitesmoke;
}

.chat {
  background: $color_white;
}

.cont{
  background: whitesmoke;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 4rem;
  right: 3rem;
  width: 26rem;
  height: 32rem;
  gap: 1rem
  ;
  border-radius: .5rem;
}

.profile{
  height: 8rem;
}

.message{
  display: flex;
  justify-content: flex-start;
  padding-left: .8rem;

  #text{
     border:none;
  }
}

.clo{
   width: 100%;
   display: flex;
   justify-content: flex-end;
   padding: .2rem .2rem;
}

/*
.choix{
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.navbar{
    height: 50px;
    background: green;
}
#etude{
   margin-right: 50px; 
}
.conseil{
    background: green;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
}
.affichage{
    background: white;
    width: 100%;
    min-height: 90%;
    border-radius: 20px;
    padding-top: 2%;
    padding-left: 8%;

    
}
.overlay{
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
}
.ajout1{
    background: rgb(100, 231, 20);
    color: white;
    font-size: 25px;
    width: 40px;
    text-align: center;
}

.ajout1:hover{
    background: rgb(11, 166, 40);
}
textarea{
    width: 250px;
    height: 80px;
}
.ajouter{
    position: absolute;
    margin-top: -47%;
    margin-left: 30%;
    background: rgb(31, 135, 8,0.9);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
*/