<template>
  <div class="event">
    <!-- <navbar class="navb"></navbar> -->
    <div class="all-event">
      <EventCard v-for="(event , index) in evenets" :event="event" :key="index" class="carde"></EventCard>
    </div>
    <button class="btn btn-primary BtnAdd" data-bs-toggle="modal" data-bs-target="#modalAdd"><i class="fas fa-plus"></i></button>
    <div id="modalAdd" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un(e) étudiant(e)</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form @submit.prevent="addEvent" method="POST">
            <div class="modal-body text-start range">
              <div class="field">
                <input type="date" v-model="event.date">
              </div>
              <div class="field">
                <select v-model="event.idKey">
                  <option v-for="(key, index) in keys" :value="key.idKey" :key="index">{{ key.contenue }}</option>
                </select>
              </div>
             
              <div class="field">
                <textarea cols="30" rows="10" placeholder="Le contenue" v-model="event.contenue"></textarea>
              </div>
              <div class="field">
                <input type="file" class="form-control" id="img">
              </div>
               <div class="field">
                <textarea cols="30" rows="10" placeholder="Titre" v-model="event.titre"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <button type="submit" class="btn btn-primary" name="ajouter">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import axios from 'axios';
import { v4 as uuid } from 'uuid'
import { ref } from 'vue';
import { api } from '../../config';
import navbar from './../Navbar/Navbar.vue'
import {evenets , keys} from '../../data'
import EventCard from './EventCard/EventCard.vue'

const keyEvent = ref([]); 
const idUser = 'aaaaa';// on le prend evec le localstorage 
const event = ref({
  idEvenement: '',
  idUser: '',
  date: '',
  contenue: '',
  idkey: '',
  titre: '',
  
})

const addEvent = () => {
  

const image = document.getElementById('img').files[0];
    const formData = new FormData();
    formData.append('idEvenement', event.value.idEvenement);
    formData.append('photo', image);
    formData.append('contenue', event.value.contenue);
    formData.append('date', event.value.date);
    formData.append('idkey', event.value.idkey);
    formData.append('idUser', event.value.idUser);
     formData.append('title', event.value.titre);
    //console.log(user.value.idUser);

    axios.post(`${api}/creation/evenement`, formData, {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    })
    .then(response => {
        console.log(response.data);
        etablissement.value = "";
    })
    .catch(error => {
        console.error(error);
    });
}
</script>

<style lang="scss" src="./Event.scss" scoped></style>