@import '../../assets/Color.scss';
.event{
  max-width: 100vw;
  overflow-x: hidden;
  background:linear-gradient(rgb(15, 36, 49),rgb(20, 73, 41),rgb(57, 117, 228)); 
}

.navb{
  margin-bottom: 4.5rem;
}

.all-event{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
}

.BtnAdd{
   border-radius: 50%;
   width: 3rem;
   height: 3rem;
   position: absolute;
   right: 2.5%;
   bottom: 5%;
}

form{
  display: flex;
  flex-direction: column;
}


.field{
  height: 2.8rem;
  width: 85%;
  border-radius: .3em;
  background: whitesmoke;
}

input,select,textarea{
  border: 0;
  outline: 0;
  appearance: none;
  background: transparent;
  width: 100%;
  padding: .6rem 1.3rem;
}

input:focus,select:focus,textarea:focus{
  box-shadow: inherit;
  background: transparent;
}

.range{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3em;
}