<template>
  <div class="home">
    <div class="navbar">
      <img class="img" src="./../../assets/logo_MJ_2SN.png" alt="logo">
      <div class="link">
        <router-link to="/event" class="item hide">EVENEMENTS</router-link>
        <router-link to="/conseil" class="item hide">CONSEIL</router-link>
        <router-link to="/forome" class="item hide">FORUM</router-link>
        <router-link to="/descriptionCity" class="item hide">DESCRIPTION VILLE</router-link>
        <router-link to="/login"><i class="fas fa-arrow-right item" title="se connecter"></i></router-link>
      </div>
    </div>
    <div class="content">
        <h1>Hello,  STUDY SYNC</h1>
        <p>Regardez ici les meilleures conseils pour le début de la vie universitaire à fianarantsoa </p>
        <div class="Gbutton">
          <router-link to="/event" class="btn btn-secondary event">Evenement</router-link>
          <router-link to="/login" class="btn btn-outline-success btnLogin"><i class="fas fa-sign-in-alt text-success ibtn"></i>   Se connecter</router-link>
        </div>
    </div>
  </div>
</template>

<script setup>

</script>

<style lang="scss" src="./Home.scss" scoped></style>