@import '../../assets/Color.scss';
.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient(rgb(9, 29, 46),rgba(0,0,0,0.8),rgba(6, 37, 33, 0.9)), url(./../../assets/univ.jpg);
  background-position: center;
  background-size: cover;
}

.img{
  width: 7rem;
}

.navbar{
  width: 97%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.navbar .link {
  display: flex;
  align-items: center;
  gap: 3rem;

  .item{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: $color-white;
    transition: .3s all;
  }
  .item:hover{
    color: $base_color;
    cursor: pointer;

  }
}

.content{
    width: 100%;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    text-align: center;
    color: azure;

    h1{
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
    }

    .Gbutton{
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      padding-top: 1.5rem;

      .event{
        text-decoration: none;
        width: 16%;
        height: 2.6rem;
        border-radius: 4rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: .9s all;
      }

      .event:hover{
        background: transparent;
        border-color: $color-light;
      }

      .btnLogin{
        text-decoration: none;
        width: 16%;
        height: 2.6rem;
        border-radius: 4rem;
        transition: .9s all;
        border-color: $base_color;
        color: $base_color;
      }
      .btnLogin:hover{
        background: $base_color;
        color: $color-white;
      }
    }
}

p{
   color: $color-light;
}

@media screen and (max-width : 1070px){
  .Gbutton{
    .event{
      min-width: 16rem;
    }

    .btnLogin{
      min-width: 16rem;
    }
  }
}
@media screen and (max-width : 910px){
  .Gbutton{
    flex-direction: column;
    .event{
      min-width: 16rem;
    }

    .btnLogin{
      width: 16rem;
    }
  }
}
@media screen and (max-width : 920px){
   .hide{
    display: none;
   }
}

