<template>
  <div class="forome-card">
    <div class="details-user">
      <div class="user">
        <img :src="getUser(post.idUser).photo" alt="user" class="imgUser">
        <div class="date-name">
          <div class="name ">{{ getUser(post.idUser).nom }} {{ getUser(post.idUser).prenom }}</div>
          <div class="date">{{ post.date }}</div>
        </div>
      </div>
    </div>
    <div class="contente">{{ post.contenue }}</div>
    <div class="btn-containte">
      <!-- <router-link :to="`/comment/${post.idPost}`" class="btn">voir les commentaires</router-link> -->
      <div class="btn" @click="onShowComment(post.idPost)">voir les commentaires</div>
      <div class="btn">Commenter</div>
      <Comment v-if="showComment" v-bind:id_Post="id_Post"></Comment>
    </div>
  </div>
</template>

<script setup>
import { getUser } from '../../../FunctionGet';
import Comment from '../Comment/Comment.vue';
import { ref } from 'vue'

const props = defineProps(['id_Post', 'post']);
let showComment = ref(false);
let id_Post = ref('');
const emit = defineEmits(["send_id_Post"])
const onShowComment = (id_post)=>{
  emit('send_id_Post', id_post)
}
// const f_showComment = (idPost) => {
//   showComment.value = true;
//   console.log(showComment)
//   id_Post.value = idPost;
//   return showComment;

// };
</script>

<style lang="scss" src="./ForomeCard.scss" scoped></style>