@import '../../../assets/Color.scss';

.forome-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: .5em;
  background: $color_white;
  border-radius: .5em;

  .details-user {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .4rem;
    border-radius: 1rem;

    .user {
      display: flex;
      align-items: center;
      gap: 1em;

      .imgUser {
        width: 3rem;
        border-radius: 50%;
      }

      .name {
        color: $color-gray-light;
      }

      .date {
        font-size: .75rem;
      }
    }
  }

  .btn-containte {
    display: flex;
    align-self: flex-end;
    gap: 1em;
    padding: .5em;

    .btn {
      background-color: $base_color;
      color: $color_white;

      &:hover {
        background-color: $color_white;
        color: $base_color;
      }
    }
  }
}

.contente {
  padding-left: 1em;
}