<template>
  <div class="signup">
        <img class="img" src="./../../assets/logo_MJ_2SN.png" alt="logo">      
        <div class="container">
            <form @submit.prevent="addPerson" method="post">               
                <div class="field1 item">
                    <i class="fas fa-user"></i>
                    <input class="form-control"  type="text" v-model="user.nom" id="nom"  placeholder="nom">
                </div>
                <div class="field2 item">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" v-model="user.prenom" id="prenom" placeholder="prenom">
                </div>
                <div class="field3 item">
                    <i class="fas fa-envelope"></i>
                    <input class="form-control"  type="text" v-model="user.email" id="email" placeholder="email">
                </div>
                <div class="field4 item">
                    <i class="fas fa-map-marker-alt"></i>
                    <input type="text" class="form-control" v-model="user.adresse" id="adresse" placeholder="adresse">
                </div>
                <div class="field5 item">
                    <i class="fas fa-phone"></i>
                    <input class="form-control"  type="number" v-model="user.numero" id="numero"  placeholder="numero">
                </div>
                <div class="field6 item">
                    <i class="fas fa-image"></i>
                    <input type="file" id="image" class="form-control"  placeholder="image">
                </div>
                <div class="field6 item">
                    <i class="fas fa-key"></i>
                    <input type="password" class="form-control" id="password" v-model="user.password" placeholder="mot de passe">
                </div>
                <button class="btnLogin">S'inscrire</button>
             </form>
             <div class="foot">
                <p><span>Déjà un compte</span> <router-link to="/login" id="is">se connecter</router-link></p>
             </div>
        </div>
    </div>
</template>
<script setup>
import {ref} from 'vue'
import axios from 'axios'
import { api } from '../../config';
import { v4 as uuid } from 'uuid';

const user = ref({
  idUser : '',
  nom : '',
  prenom : '',
  email : '',
  adresse : '',
  numero : '',
  password : ''

}) 

const addPerson = () => {
    const image = document.getElementById('image').files[0];
    const formData = new FormData();
    user.value.idUser = uuid();
    formData.append('idUser', user.value.idUser);
    formData.append('nom', user.value.nom);
    formData.append('prenom', user.value.prenom);
    formData.append('email', user.value.email);
    formData.append('statue', 0);
    formData.append('adresse', user.value.adresse);
    formData.append('numero', user.value.numero);
    formData.append('password', user.value.password);
    formData.append('photo', image);
    //console.log(user.value.idUser);

    axios.post(`${api}/creation/user`, formData, {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    })
    .then(response => {
        console.log(response.data);
        user.value = "";
        //image.value = '';
    })
    .catch(error => {
        console.error(error);
    });
  }
</script>
<style lang="scss" src="./Singup.scss" scoped></style>