@import '../../assets/Color.scss';
.signup{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgb(9, 29, 46),rgba(0,0,0,0.8),rgba(6, 37, 33, 0.9)), url(./../../assets/univ.jpg);
}

.container{
    width: 40%;
    height: 90%;
    border-radius: 1.5rem;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.item{
    display: flex;
    align-items: center;
    background-color: white;
    padding: .4rem ;
    border-radius: .6rem;
}

input:focus{
    box-shadow: inherit;
}

.field1,  .field2,
.field3,  .field4,
.field5,  .field6 {
    width: 25rem;
}

form .item input{
    border: none;
    outline: 0;
}
form .item input:focus{
    box-shadow: inherit;
}

.btnLogin{
    align-self:center;
    border: none;
    border-radius: .7rem;
    background-color: #42b983;
    width: 25rem;
    height: 3rem;
    transition: all 1s;
}

.btnLogin:hover{
    background: #2c3e50;
    color: white;
}

.img{
    width: 3rem;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
}

.foot{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-right: 4.2rem;
 }

 #is{
    text-decoration: none;
 }
 
 span{
    color: $color_white;
 }