<template>
  <div class="nav">
    <div class="headere">
      <div class="tittle">
        <h4>STUDYSYNC</h4>
      </div>
      <div class="search_bar">
        <router-link to="/event" class="item hide">EVENEMENTS</router-link>
        <router-link to="/conseil" class="item hide">CONSEIL</router-link>
        <router-link to="/forome" class="item hide">FORUM</router-link>
        <router-link to="/descriptionCity" class="item hide">DESCRIPTION VILLE</router-link>
      </div>
      <div class="profile_area">
        <div class="theme-btn" @click="theme">
          <i class="fas fa-sun active" type="submit"></i>
          <i class="fas fa-moon" type="submit"></i>
        </div>
        <div class="profile">
          <div class="profile-photo">
            <img src="./../../assets/profile.jpg" type="submit" alt="nafo">
          </div>
          <h6 type="submit" class="titrePhoto">MJ2SN</h6>
          <i class="fas fa-caret-up titrePhoto" type="submit"></i>
        </div>
        <button type="button" id="menu_btn" @click="showSidebar">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
const sear = ref('')
</script>

<style lang="scss" src="./Navbar.scss" scoped></style>