@import '../../assets/Color.scss';
.headere{
    width: 100%;
    height: 50px;
    // height: 7.8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-white;
    // position: fixed;
}

.nav{
    width: 100vw;
    display: flex;
    z-index: 3;
}

.tittle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    padding: 1rem;
    gap: 2%;
}

.tittle h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #42b883aa;
    font-size: 2.01em;
    margin-top: 0.25rem;

    span{
      color: color_success_light;
    }

}

.search_bar{
    background: $color-light;
    border-radius: .3em;
    width: 40%;
    height: 72%;
    display: flex;
    align-items: center;
    padding: 0.3em;
    justify-content: space-around;

    .item{
      text-decoration: none;
      font-weight: bold;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: $fol_color;
    }
    .router-link-active{
      color: $base_color;
    }

    .item:hover{
      color: $other_color;
    }
    
}

.key{
    color: rgb(48, 44, 44);
}

.search_bar input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: 0;
    border: 0;
}

.profile_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
}

.profile_area .profile{
    display: flex;
    gap: .7rem;
    align-items: center;
    padding: 0 .8rem;
}

.profile_area .theme-btn{
    display: flex;
    background-color: $color-light;
    width: 4rem;
    height: 2rem;
    border-radius: .3rem;
}

.profile_area .theme-btn i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
} 

.profile_area .theme-btn .active{
   background: rgb(34, 33, 33);
   border-radius: .4rem;
   color: $color-white;
}

.profile_area .profile .profile-photo{
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
} 

button[type=button]{
  display: none;
}

@media screen and (max-width : 860px){

    .headere{ 
      .search_bar{
        display: none;
      }
  
      .profile_area{
        gap: 1rem;
      }
    }
}
@media screen and (max-width : 430px){

    .headere{ 
      .tittle h4{
         font-size: 25px;
         padding: 0rem;
      }
    }
}