@import '../../assets/Color.scss';

.forome {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(15, 36, 49), rgb(20, 73, 41), rgb(57, 117, 228));
  max-width: 100vw;
}

.navba {
  margin-bottom: 4rem;
}

.content {
  display: flex;
  position: relative;
  .side-content {
    width: 35em;
    height: 32em;
    position: fixed;
    top: 4em;
    right: 2em;
    border-radius: .5em;
    overflow: auto;
    box-shadow: 0 0 .5rem black;
    background: rgb(238, 235, 235);
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    // height: 85vh;
    // position: absolute;
  }
}

.all-post {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1em;
  overflow: auto;
  height: 100%;
  width: 55%;
  // justify-content: space-evenly;
}