<template>
  <div class="forome">
    <!-- <navbar class="navba"></navbar> -->
    <div class="content">
      <!-- <div class="side"></div> -->
      <div class="all-post">
        <ForomeCard v-for="(post, index) in posts" :post="post" :key="index" class="form"
          @send_id_Post="get_id_post" />
      </div>
      <Comment v-if="showComment" class="side-content" :id_Post="idPost" />
      <div class="side-content" v-else>Selectionner une publication</div>
    </div>
    <!-- <div class="add-post">
      <form @submit.prevent="addPost">
      <div class="item">

      </div>
      </form>
    </div> -->
  </div>
</template>
<script setup>
import ForomeCard from './ForomeCard/ForomeCard.vue'
import { posts } from '../../data';
import Comment from './Comment/Comment.vue';
import navbar from '../Navbar/Navbar.vue';
import { ref } from 'vue'
const idPost = ref('');
const showComment = ref(false)
const get_id_post = (id_Post) => {
  idPost.value = id_Post
  showComment.value = true
}
</script>
<style lang="scss" src="./Forome.scss" scoped></style>