<template>
<div></div>
 <!-- <div class="modal-add" v-if="showModal">
    <form @submit.prevent="onAddDescription" >
      <div class="item">
        <label for="">Nom</label>
        <input type="text" v-model="etablissement.nom" placeholder="Nom etablissement">
      </div>
      <div class="item">
        <label for="">type</label>
        <input type="text" v-model="etablissement.type" placeholder="Type Etablissement">
      </div>
      <div class="item">
        <label for="">Nom</label>
        <input type="text" v-model="etablissement.adresse" placeholder="adress">
      </div>
      <div class="item">
        <label for="">Nom</label>
        <input type="text" v-model="etablissement.description" placeholder="adress">
      </div>
      <div class="item">
        <input type="file" id="img">
      </div>
      <button type="submit">Ajouter</button>
    </form>
  </div>

  <div id="modalAdd" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un(e) étudiant(e)</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form @submit.prevent="addEvent" method="POST">
            <div class="modal-body text-start range">
              <div class="field">
              
              </div>
              <div class="field">
                
              </div>
              <div class="field">
                
              </div>
              <div class="field">
                <input type="file" class="form-control" id="img">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              <button type="submit" class="btn btn-primary" name="ajouter">Ajouter</button>
            </div>
          </form>
        </div>
      </div>
    </div>   -->
</template>
<script setup>
import { ref } from 'vue';
import { api } from '../../../config';
import axios from 'axios';
import { v4 as uuid } from 'uuid';
const props = defineProps(['showModal'])
const etablissement = ref({
  idEtablissement: '',
  nom: '',
  type: '',
  adresse: '',
  description: '',
})
const onAddDescription = () => {
  const image = document.getElementById('img').files[0];
    const formData = new FormData();
    formData.append('idEtablissement', etablissement.value.idEtablissement);
    formData.append('nom', etablissement.value.nom);
    formData.append('type', etablissement.value.type);
    formData.append('adresse', etablissement.value.adresse);
    formData.append('description', etablissement.value.description);
    formData.append('photo', image);
    //console.log(user.value.idUser);

    axios.post(`${api}/creation/etablissement`, formData, {
        headers: {
            'Content-Type': 'multipart/form-data'
        }
    })
    .then(response => {
        console.log(response.data);
        etablissement.value = "";
    })
    .catch(error => {
        console.error(error);
    });
}
</script>
<style lang="scss" src="./ModalAdd.scss" scoped></style>
