//$base_color : #e9695b;
$base_color : #42b983;
$black_color : #2c3e50;
$black_white_color : #355677;

$other_color : #065bb1;
$fol_color : #063461;
$green_color : rgb(5, 145, 63);

$color-white : #ffffff;
$color-light : #f0eff5;
$color-gray-light : #86848c;
$color-gray-dark: #56555e;
$color-dark: #27282f;
$color-primary : rgb(71,7,234);
$color-success: rgb(34,202,75);
$color-danger : rgb(255,67,54);
$color-warning : rgb(234,181,7);
$color-purple : rgb(160,99,245);

$color-primary-light: rgba(71,7,234,0.2);
$color-success-light: rgba(34,202,75,0.2);
$color-danger-light : rgba(255,67,54 ,0.2);
$color-warning-light : rgba(234,181,7, 0.2);
$color-purple-light : rgba(160,99,245, 0.2);