<template>
  <div class="acceuil">
    <div class="container">
      <h4>Se connecter</h4>
     
      <form @submit.prevent="submitForm" method="post">
        <div v-if="showErrorEmail" class="error-message">
     Veuillez entrer votre adresse e-mail
    </div>
    <div v-if="showErrorPasswordEmail" class="error-message">
      Mot du passe ou adresse e-mail incorrect
    </div>
    
        <div class="field1 item">
           
          <i class="fas fa-user"></i>
          <input
            class="form-control"
            type="text"
            v-model="user.email"
            id="name"
            placeholder="Adresse e-mail"
          />
          
        </div>
         <div v-if="showErrorPassword" class="error-message">
      Veuillez entrer votre mot de passe
    </div>
        <div class="field2 item">
          <i class="fas fa-key"></i>
          <input
            type="password"
            class="form-control"
            v-model="user.password"
            placeholder="Mot de passe"
          />
        </div>
        <button class="btnLogin">Se connecter</button>
      </form>
      <div class="foot">
        <p>
          <span>Pas de compte?</span>
          <router-link to="/signup" id="is">s'inscrire</router-link>
        </p>
      </div>
    </div>
  </div>
</template>
<script setup>
import { ref } from "vue";
import axios from "axios";
import { api } from "./../../config";
import { useRoute, useRouter } from "vue-router";
import { log } from "../../FunctionGet";
import { user as users  } from "../../data";
// import { toast } from "vue-toastify";

const router = useRouter();
const user = ref({
  email: "",
  password: "",
  
});


const showErrorEmail = ref(false);
const showErrorPassword = ref(false);
const showErrorPasswordEmail = ref(false);

const submitForm = () => {
  // showErrorEmail.value = !user.value.email.trim();
  // showErrorPassword.value = !user.value.password.trim();

  // if (showErrorEmail.value || showErrorPassword.value) {
  //   return;
  // }
  
  // Continue with the login logic
  login();
 
};

const login = () => {
  log.value = false
  router.push('/conseil')
  // let currentUser = users.value.find( userFind => userFind.email === user.email && userFind.password === )
  // axios
  //   .post(`${api}/login`, user.value)
  //   .then((response) => {
  //    if (response.status === 200) {
  //     console.log(response.status)
  //       router.push(`/`);
  //       // toast.error("mot de passe incorrect");
  //     } else {
  //       // Successful login
  //        showErrorPasswordEmail.value = true;
  //     }
  //   })
  //   .catch((error) => {
  //    if (error.response && error.response.status === 401) {
  //       showErrorPasswordEmail.value = true;
  //       // toast.error("mot de passe incorrect");
  //     } else {
  //       console.log("Error:", error);
  //       // Handle other errors if needed
  //     }
  //   });
};
 
</script>
<style lang="scss" src="./Login.scss" scoped></style>