@import '../../assets/Color.scss';
.acceuil{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgb(8, 38, 65),rgba(12, 11, 11, 0.8),rgba(6, 37, 33, 0.9)), url(./../../assets/univ.jpg);
}

.container{
    width: 30%;
    height: 50%;
    border-radius: 1.5rem;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.item{
    display: flex;
    gap: .4rem;
    align-items: center;
    background-color: white;
    padding: .4rem ;
    border-radius: .6rem;

}

input:focus{
   box-shadow: inherit;
}

.field1,  .field2{
    width: 22rem;
}

.field1 input , .field2 input{
    border: none;
    outline: 0;
}

.btnLogin{
    align-self:center;
    border: none;
    border-radius: .7rem;
    background-color: #42b983;
    width: 22rem;
    height: 3rem;
    transition: all 1s;
}

.btnLogin:hover{
    background: #2c3e50;
}

h4{
    text-align: center;
    color: $other_color;
    font-weight: bold;
}
#is{
   text-decoration: none;
}

span{
   color: $color_white;
}

.foot{
   display: flex;
   width: 100%;
   justify-content: end;
   padding-right: 1.5rem;
}

.error-message {
    color: #ec6170;
    
  }