@import './assets/Color.scss';

* {
  padding: 0;
  margin: 0;
  color: $black_color;
}

a {
  text-decoration: none;
}
:root{
  // font-size: 70%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}