<template>
  <div class="app">
    <router-view v-if="log"></router-view>
    <div class="page-containe" v-else>
      <Navbar />
      <div class="con">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted } from 'vue'
import { useRoute } from 'vue-router';
import { log } from './FunctionGet';
import Navbar from './components/Navbar/Navbar.vue';

const route = useRoute();
onMounted(() => {
  const user = localStorage.getItem('mika');

  if (user) {
    log.value = false;
    console.log(user)
  } else {
    log.value = true;
  }
});
</script>

<style lang="scss" scoped>
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .page-containe {
    display: flex;
    flex-direction: column;

    .con {
      height: 91.7vh;
      overflow: auto;
    }
  }
}
</style>
