<template>
  <div class="comment">
    <!-- <Navbar class="navba" /> -->
    <!-- <ForomeCard :post="post"/> -->
    <cardComment v-for="(comment, index) in commentaires" :key="index" :commentaires="comment" :post="post" />
    <ajoutComment :idPost="id_Post" />
  </div>
</template>
<script setup>
import ajoutComment from './ajoutComment/ajoutComment.vue';
import cardComment from '../Comment/cardComment/cardComment.vue'
import { commentaires as allComment, posts } from '../../../data';
import { useRoute } from 'vue-router';
// import Navbar from '../../Navbar/Navbar.vue';
import { onMounted, ref } from 'vue';
import ForomeCard from '../ForomeCard/ForomeCard.vue';

// const route = useRoute();
// const id_Post = route.params.idPost
const props = defineProps(['id_Post'])
const post = ref({})
onMounted(()=>{
  let currentPost = posts.value.find(post => post.idPost === props.id_Post);
  console.log(props.id_Post)
  if(currentPost){
    post.value = currentPost
  }
})
const commentaires = ref(allComment)
</script>
<style lang="scss" src="./Comment.scss" scoped></style>